{% extends "layouts/base.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="cta" style="height:600px;margin-top:-15px;background-color: #23485a;direction: rtl">
    <div class="span6" dir="rtl"style="margin-left: 200px">
        <h2>عضویت <span class="color"></span></h2>
        <div class="form" action="/user/login/" method="get">
            <!-- Register form (not working)-->
            <form class="form-horizontal">
                <!-- Name -->
                <div class="control-group">
                    <label>نام و نام خانوادگی</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="نام و نام خانوادگی" id="name">
                    </div>
                </div>
                <!-- Email -->
                <div class="control-group">
                    <label>ایمیل</label>
                    <div class="controls">
                        <input type="text" class="input-large"placeholder="ایمیل" id="email">
                    </div>
                </div>
                <!-- Select box -->

                <!-- Username -->
                <div class="control-group">
                    <label >نام کاربری</label>
                    <div class="controls">
                        <input type="text" class="input-large" placeholder="نام کاربری" id="username">
                    </div>
                </div>
                <!-- Password -->
                <div class="control-group">
                    <label >پسورد</label>
                    <div class="controls">
                        <input type="password" class="input-large"placeholder="پسورد" id="password">
                    </div>
                </div>
                <div class="control-group">
                    <label >ادرس</label>
                    <div class="controls">
                        <input type="text" class="input-large"placeholder="ادرس" id="address">
                    </div>
                </div>
                <!-- Checkbox -->
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox inline">
                            <input type="checkbox" id="inlineCheckbox1" value="agree"> با شرایط ثبت نام موافق هستم
                        </label>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-actions"style="background-color: #23485a">
                    <!-- Buttons -->
                    <button type="submit" class="btn">عضویت</button>
                    <button type="reset" class="btn">پر کردن مجدد فرم</button>
                </div>
            </form>

        </div>
       </div>
    </div>
{% endblock content %}