{% extends "layouts/base.html" %}

{% block title %}{% endblock title %}
{% block content %}
    <div class="container" style="margin-top: -40px">
        <div class="row" >
            <div class="span12">

                <!-- Slider (Parallax Slider) -->
                <div class="slider">
                    <div id="da-slider" class="da-slider">
                        <div class="da-slide">
                            <h2>Quality Control</h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            <a href="#" class="da-link">Read more</a>
                            <div class="da-img"><img src="static/img/parallax/1.png" alt="image01" /></div>
                        </div>
                        <div class="da-slide">
                            <h2>Quality Control</h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            <a href="#" class="da-link">Read more</a>
                            <div class="da-img"><img src="static/img/parallax/2.png" alt="image02" /></div>
                        </div>
                        <div class="da-slide"style="font-family: Arial">
                            <h2>برنامه نویسی اندروید</h2>

                            <p>سیستم عامل اندروید یک سیستم عامل مخصوص گوشی و تبلت میباشد که توسط شرکت گوگل ساخته شده است و اینک من قسمت کوچکی از ساخت اپلیکیشن های ان را اموزش میدهم</p>

                            <a href="#" class="da-link">توضیحات بیشتر</a>
                            <div class="da-img"><img src="static/img/parallax/3.png" alt="image03" /></div>

                        </div>
                        <nav class="da-arrows">
                            <span class="da-arrows-prev"></span>
                            <span class="da-arrows-next"></span>
                        </nav>
                    </div>
                </div>



                <!-- Colors boxes -->





</div>
</div>
</div>
    <div class="cta" style="height: 400px ;margin-top: -25px;background-color: #23485a;direction: rtl">
        <div class="row">
            <div class="span5">
                <!-- Big title -->
                <h2>ثبت نام<span class="color"></span></h2>
                <div class="button">
                    <a href="#">ثبت نام</a> <a href="#">توضیحات بیشتر در مورد کلاس ها</a>
                </div>
            </div>
            <div class="span6">
                <h3>اموزش تابستانه کامپیوتر در منزل شما مشهدی ها</h3>
                <!-- Para -->
                <p>مفاهیم پایه کامپیوتر</p>
                <p>اموزش نصب ویندوز و پارتیشن بندی</p>
                <p>اموزش مقدماتی ورد و پاور پوینت</p>
                <p>اموزش استفاده از امکانات و نرم افزارهای کاربردی ویندوز</p>
                <p>ااموزش ساخت ایمیل و وبلاگ</p>
                <p>امووزش برنامه نویسی مقدماتی(java,Android,#C)</p>
                <p>اموزش طراحی صفحات وب</p>
                <p>اموزش مقدماتی فتوشاپ</p>
            </div>
            <div class="span5">
            </div>
        </div>
    </div>

{% endblock %}